<mat-nav-list>
  <mat-list-item routerLinkActive="active" routerLink="/">
    <mat-icon mat-list-icon> space_dashboard </mat-icon>
    <div mat-line>หน้าหลัก</div>
  </mat-list-item>

  <mat-list-item routerLinkActive="active" routerLink="/course-search">
    <mat-icon mat-list-icon> space_dashboard </mat-icon>
    <div mat-line>ค้นหารายวิชา</div>
  </mat-list-item>

  <mat-list-item routerLinkActive="active" routerLink="/curriculum">
    <mat-icon mat-list-icon>space_dashboard</mat-icon>
    <div mat-line>ข้อมูลหลักสูตร</div>
  </mat-list-item>
  
  <mat-list-item routerLinkActive="active" routerLink="/transcript">
    <mat-icon mat-list-icon>space_dashboard</mat-icon>
    <div mat-line>Transcript</div>
  </mat-list-item>
</mat-nav-list>
