mat-drawer-content::-webkit-scrollbar {
  width: 8px;
}

mat-drawer-content::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
}

mat-drawer-content::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #909090;
}

mat-drawer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-drawer {
  background-color: #ff964f;
  width: 250px;
  padding-top: 2%;
}

mat-drawer-content {
  height: 100%;
  padding: 2%;
}
