<div *ngIf="userProfile" class="profile-container">
    <table>
        <tbody>
            <tr>
                <td><b>Student Id</b></td>
                <td>{{ userProfile.student_id }}</td>
            </tr>
            <tr>
                <td><b>ID Card No.</b></td>
                <td>1101700123456</td>
            </tr>
            <tr>
                <td><b>Prename (TH)</b></td>
                <td>นาย</td>
            </tr>
            <tr>
                <td><b>Name (TH)</b></td>
                <td>ขจรยศ บุญเกศ</td>
            </tr>
            <tr>
                <td><b>Prename (EN)</b></td>
                <td>Mr.</td>
            </tr>
            <tr>
                <td><b>Name (EN)</b></td>
                <td>{{ userProfile.name }}</td>
            </tr>
            <tr>
                <td><b>Date of Birth</b></td>
                <td>8 April 2542</td>
            </tr>
            <tr>
                <td><b>Gender</b></td>
                <td>Male</td>
            </tr>
            <tr>
                <td><b>Status</b></td>
                <td>Studying</td>
            </tr>
            <tr>
                <td><b>Admission Type</b></td>
                <td>Direct</td>
            </tr>
            <tr>
                <td><b>Year of Admission</b></td>
                <td>2560</td>
            </tr>
            <tr>
                <td><b>Student Year</b></td>
                <td>{{ userProfile.student_year }}</td>
            </tr>
            <tr>
                <td><b>Faculty</b></td>
                <td>{{ userProfile.faculty_id }}</td>
            </tr>
            <tr>
                <td><b>Department</b></td>
                <td>{{ userProfile.department_id }}</td>
            </tr>
            <tr>
                <td><b>Program</b></td>
                <td>{{ userProfile.major_id }}</td>
            </tr>
            <tr>
                <td><b>Contact email</b></td>
                <td>{{ userProfile.email }}</td>
            </tr>

        </tbody>
    </table>
</div>
